.add-button {
  width: 4rem;
  height: 1.5rem;
  border: none;
  background-color: navajowhite;
  font-family: Tahoma, Geneva, Verdana, sans-serif, cursive;
  font-size: 1rem;
}

.delete {
  background-color: rgb(230, 10, 10);
}
.completed {
  /* some fancy styles */
  text-decoration: line-through;
}
.done {
  /* something */
  background-color: rgb(10, 172, 10);
}
