.result {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  //   height: 80%;
  width: 50%;
  border: greenyellow 2px solid;
  background-color: rgb(243, 237, 237);
  border-radius: 10px;
  list-style: none;
}
