body {
  background-image: url(../../img/bg-blackboard.jpg);
  // background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}

h1 {
  color: white;
}
