body {
  background-image: url(../../img/bg-blackboard.jpg);
  // background-repeat: none;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}

h1 {
  color: blanchedalmond;
  font-size: 3rem;
}
